In [ ]:
# Add the dependencies.
import pandas as pd
import os

In [ ]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
missing_grades = "Resources/missing_grades.csv"

# Files to load
#school_data_to_load = os.path.join("Resources", "schools_complete.csv")
#student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [ ]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

missing_grades_df=pd.read_csv(missing_grades)
missing_grades_df.head()

In [ ]:
# Determine if there are any missing values in the school data.
school_data_df.count()
missing_grades_df.count()

In [ ]:
# Determine if there are any missing values in the student data.
student_data_df.count()

In [ ]:
# Determine if there are any missing values in the school data.
student_data_df.isnull()
missing_grades_df.isnull()

In [ ]:
# Determine if there are any missing values in the school data.
school_data_df.isnull()

In [ ]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull()
missing_grades_df.notnull()

In [ ]:
# Determine if there are not any missing values in the school data.
student_data_df.notnull()

In [ ]:
student_data_df.notnull().sum()

In [ ]:
school_data_df.notnull().sum()

In [ ]:
missing_grades_df.isnull().sum()

In [ ]:
missing_grades_df.notnull().sum()

In [ ]:
# Drop the NaNs.
missing_drop_df = missing_grades_df.dropna()

In [ ]:
missing_drop_df.count()

In [ ]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

# Determine data types for the school DataFrame.
school_data_df.dtypes

In [54]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [55]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

/var/folders/p_/1hmbmcfn6ks6x7byjdkpjcvc0000gq/T/ipykernel_13060/3790455543.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [56]:
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84